.your-component-class {
    background-color: #007BFF; /* Replace with your desired color */
  }
  .white-text {
    color: white;
  }
  .yellow-text {
    color: yellow;
  }
  .side-text{
    margin: 0 0 0 0;
  }